{% load static %}
<footer
  id="footer"
  class="footer light-background"
  style="background-color: #2487ce"
>
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-6 col-md-12 footer-about">
        <a href="#" class="logo d-flex align-items-center me-auto">
          <img src="{% static 'assets/img/mint-logo-blue.png' %}" alt="" />
        </a>
        <p style="text-align: justify; color: white" id="footer-about">
          {{ footer_content.about_text }}
        </p>
        <div class="social-links d-flex mt-4">
          {% for link in social_links %}
          <a href="{{ link.url }}"><i class="{{ link.icon_class }}"></i></a>
          {% endfor %}
        </div>
      </div>

      <div class="col-lg-2 col-5 footer-links">
        <h4 id="useful-links">Useful Links</h4>
        <ul>
          <li>
            <a href="/team" style="color: white" id="footer-link-team"
              >Meet the Team</a
            >
          </li>
          {% for link in useful_links %}
          <li>
            <a
              href="{{ link.url }}"
              id="footer-link-{{ link.name|lower|slugify }}"
              style="color: white"
              >{{ link.name }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-lg-2 col-5 footer-links">
        <h4 id="focus-areas">About Us</h4>
        <ul>
          {% for area in focus_areas %}
          <li>
            <a
              href="{{ area.url }}"
              id="footer-link-{{ area.name|lower|slugify }}"
              style="color: white"
              >{{ area.name }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-lg-2 col-md-12 footer-contact text-center text-md-start">
        <h4 id="footer-contact">Contact Us</h4>
        <p id="footer-contact-address" style="color: white">
          {{ footer_content.contact_address_line1 }}
        </p>
        {% if footer_content.contact_address_line2 %}
        <p id="footer-contact-address-1" style="color: white">
          {{ footer_content.contact_address_line2 }}
        </p>
        {% endif %} {% if footer_content.contact_address_line3 %}
        <p id="footer-contact-address-2" style="color: white">
          {{ footer_content.contact_address_line3 }}
        </p>
        {% endif %}
        <p class="mt-4" id="footer-phone" style="color: white">
          <strong>Phone:</strong> <span>{{ footer_content.phone }}</span>
        </p>
        <p id="footer-email" style="color: white">
          <strong>Email:</strong> <span>{{ footer_content.email }}</span>
        </p>
      </div>
    </div>
  </div>

  <p class="text-center mt-5" id="copyright">
    {{ footer_content.copyright_text }}
  </p>
</footer>
