<nav id="navmenu" class="navmenu" style="font-size: 1rem">
  <ul>
    <li>
      <a href="/" id="nav-home">Home<br /></a>
    </li>
    <li><a href="/#services" id="nav-news">Announcements</a></li>
    <li><a href="/#resources" id="nav-news">Resources</a></li>
    <li><a href="/#faq" id="nav-contact-us">FAQ</a></li>

    <li>
      <a href="/request-support" id="nav-contact-uss" class=""
        >Request Support</a
      >
    </li>
  </ul>
  <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>
