{% load static %} {% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>GDOP</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/mint-logo-blue.png' %}" rel="icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->

    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
  </head>

  <body class="index-page">
    {% include 'includes/header.html' %}

    <section id="about-alt" class="about-alt section">
      <div class="container">
        <div class="row gy-4 justify-content-center">
          <h1 class="text-center">Government Digital Office Platforms</h1>
          {% for module in modules %}
          <div id="{{ module.title|slugify }}" class="col-lg-11">
            <h2 style="font-weight: 700">
              <u>{{ module.title }}</u>
            </h2>

            <p style="text-align: justify; margin-top: 20px; font-size: 15px">
              {{ module.description }}
            </p>
          </div>

          <section id="pricing" class="pricing section">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <div class="pricing-item">
                    <h3>Key Advantages</h3>
                    <ul>
                      {% for advantage in module.key_advantages|split_string %}
                      <li>
                        <i class="bi bi-check"></i>
                        <span>{{ advantage }}</span>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>

                <div class="col-lg-5">
                  <div>
                    <img
                      src="{{ module.image.url }}"
                      class="img-fluid"
                      alt="{{ module.title }}"
                      style="
                        height: 450px;
                        object-fit: cover;
                        margin-left: 90px;
                      "
                    />
                  </div>
                </div>
              </div>

              <!-- Button to redirect to module.redirect_url -->
              <div class="text-center mt-4">
                <a href="{{ module.redirect_url }}" target="_blank">
                  <button type="button" class="btn btn-primary">
                    Go to site
                  </button>
                </a>
              </div>
            </div>
          </section>
          {% endfor %}
        </div>
      </div>
    </section>

    {% include 'includes/footer.html' %}

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/678eb31a3a8427326071da5d/1ii2mn8nv";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>
