{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>GDOP</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/miii_logo.jpg' %}" rel="icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->

    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
  </head>

  <body class="index-page">
    {% include 'includes/header.html' %}

    <section id="about-alt" class="about-alt section">
      <div class="container">
        <div class="row gy-4 justify-content-center">
          <h1 class="text-center">Government Digital Office Platforms</h1>
          <div class="col-lg-11">
            <h2 style="font-weight: 700">
              <u>Visitors Management</u>
            </h2>
            <p style="text-align: justify; margin-top: 20px; font-size: 15px">
              The Visitors Management System is a comprehensive solution
              designed to automate and streamline the visitor registration
              process within the Ministry. With this digital system, all aspects
              of visitor interaction from arrival to departure are efficiently
              managed. It ensures that visitor data is captured accurately and
              securely, replacing the traditional manual methods that are prone
              to errors and inefficiencies.
            </p>
            <p style="text-align: justify; font-size: 15px">
              In addition to improving security and organization, the system
              also allows for better monitoring of visitor flow within the
              Ministry. It provides real-time updates on visitor statuses,
              making it easier for staff to manage and communicate with
              visitors. This enhanced digital solution also ensures that the
              Ministry adheres to modern technology standards, aligning with its
              commitment to innovation and digital transformation.
            </p>
          </div>
          <section id="pricing" class="pricing section">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <div class="pricing-item">
                    <h3>Key Advantages</h3>
                    <ul>
                      <li>
                        <i class="bi bi-check"></i>
                        <span>Improved Security</span>
                      </li>
                      <li>
                        <i class="bi bi-check"></i>
                        <span>Time Saving</span>
                      </li>
                      <li>
                        <i class="bi bi-check"></i>
                        <span>Efficient Tracking</span>
                      </li>
                      <li>
                        <i class="bi bi-check"></i>
                        <span>Enhanced Organization</span>
                      </li>
                      <li>
                        <i class="bi bi-check"></i>
                        <span>Real-Time Updates</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div>
                    <img
                      src="{% static 'assets/img/kk.jpg' %}"
                      class="img-fluid"
                      alt=""
                      style="
                        height: 450px;
                        object-fit: cover;
                        margin-left: 90px;
                      "
                    />
                  </div>
                </div>
              </div>
            </div>
          </section>

          <div class="col-lg-11">
            <h2 style="font-weight: 700">
              <u>Document Management</u>
            </h2>
            <p style="text-align: justify; margin-top: 20px; font-size: 15px">
              The Document Management System (DMS) is designed to eliminate the
              challenges associated with paper-based document storage. By
              converting physical documents into digital format, the system
              enables efficient storage, management, and retrieval of important
              files. It reduces the space needed for physical storage, while
              also making documents easily accessible at any time.
            </p>
            <p style="text-align: justify; font-size: 15px">
              In addition to simplifying access to documents, the DMS ensures
              greater security and compliance with data protection regulations.
              With user permissions and advanced search features, it allows
              authorized personnel to quickly locate and manage sensitive files.
              The shift to a digital platform also supports the Ministry’s goals
              of reducing paper waste and improving overall organizational
              efficiency.
            </p>
          </div>
          <section id="pricing" class="pricing section">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <div class="pricing-item">
                    <h3>Key Advantages</h3>
                    <ul>
                      <li>
                        <i class="bi bi-check"></i>
                        <span>Centralized Storage</span>
                      </li>
                      <li>
                        <i class="bi bi-check"></i>
                        <span>Easy Access</span>
                      </li>
                      <li>
                        <i class="bi bi-check"></i>
                        <span>Enhanced Security</span>
                      </li>
                      <li>
                        <i class="bi bi-check"></i>
                        <span>Cost-Effective</span>
                      </li>
                      <li>
                        <i class="bi bi-check"></i>
                        <span>Environmental Impact</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div>
                    <img
                      src="{% static 'assets/img/k.jpg' %}"
                      class="img-fluid"
                      alt=""
                      style="
                        height: 450px;
                        object-fit: cover;
                        margin-left: 90px;
                      "
                    />
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>

    {% include 'includes/footer.html' %}

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
