{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>GDOP</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/miii_logo.jpg' %}" rel="icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->

    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
  </head>

  <body class="index-page">
    <header
      id="header"
      class="header d-flex align-items-center sticky-top"
      style="background-color: #eaf2f1"
    >
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a href="/" class="logo d-flex align-items-center me-auto">
          <img src="{% static 'assets/img/mint_logo.png' %}" alt="" />
        </a>

        {% include 'includes/nav.html' %}
      </div>
    </header>

    <!-- Card Item -->

    <section id="contact" class="contact section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2 id="contact-title">Reach Out to Us</h2>
        <p id="contact-intro">
          For inquiries, support, or assistance with our projects, please reach
          out through the following channels
        </p>
      </div>
      <!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-6">
            <h5 class="mb-4"><b>General Assistance</b></h5>
            <div
              class="info-item d-flex"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3 id="contact-phone-title">Call Us</h3>
                <p id="contact-phone-content">+251 118 132 191</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div
              class="info-item d-flex"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3 id="contact-email-title">Email Us</h3>
                <p>contact@mint.gov.et</p>
              </div>
            </div>
            <!-- End Info Item -->

            <h5 class="mb-4 mt-5"><b>IT Support</b></h5>
            <div
              class="info-item d-flex"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3 id="contact-phone-title">Call Us</h3>
                <p id="contact-phone-content">+251 111 265 737</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div
              class="info-item d-flex"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3 id="contact-email-title">Email Us</h3>
                <p>support@mint.gov.et</p>
              </div>
            </div>

            <!-- End Info Item -->
          </div>

          <div class="col-lg-6">
            <div class="card shadow form-card">
              <div class="card-body support">
                <form
                  action="{% url 'submit_support_request' %}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  {% csrf_token %}
                  <!-- Name Input -->
                  <div class="mb-4 mt-3">
                    <label for="name" class="form-label">Full Name</label>
                    <input
                      type="text"
                      class="form-control form-control-lg input-custom"
                      id="name"
                      name="name"
                      placeholder="Enter your name"
                      required
                    />
                  </div>
                  <!-- Email Input -->
                  <div class="mb-4">
                    <label for="email" class="form-label">Email</label>
                    <input
                      type="email"
                      class="form-control form-control-lg input-custom"
                      id="email"
                      name="email"
                      placeholder="Enter your email"
                      required
                    />
                  </div>
                  <!-- Support Type Select -->
                  <div class="mb-4">
                    <label for="supportType" class="form-label"
                      >Type of Support</label
                    >
                    <select
                      class="form-select form-control-lg input-custom"
                      id="supportType"
                      name="supportType"
                      required
                    >
                      <option value="" disabled selected>
                        Select support type
                      </option>
                      <option value="technical">Technical Issue</option>
                      <option value="System Access">System Access</option>
                      <option value="general">General Inquiry</option>
                      <option value="Feedback">Feedback</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                  <!-- Description Textarea -->
                  <div class="mb-4">
                    <label for="description" class="form-label"
                      >Description</label
                    >
                    <textarea
                      class="form-control form-control-lg input-custom"
                      id="description"
                      name="description"
                      rows="4"
                      placeholder="Briefly describe your issue"
                      required
                    ></textarea>
                  </div>
                  <div class="mb-4">
                    <label for="attachment" class="form-label"
                      >Attachment (Optional)</label
                    >
                    <input
                      type="file"
                      class="form-control input-custom"
                      id="attachment"
                      name="attachment"
                    />
                  </div>
                  <div class="mb-4">
                    <label for="urgency" class="form-label"
                      >Urgency Level</label
                    >
                    <select
                      class="form-select input-custom"
                      id="urgency"
                      name="urgency"
                      required
                    >
                      <option value="" disabled selected>
                        Select an urgency level
                      </option>
                      <option value="low">Low</option>
                      <option value="medium">Medium</option>
                      <option value="high">High</option>
                      <option value="critical">Critical</option>
                    </select>
                  </div>
                  <!-- Toggle Switch -->
                  <div class="form-check form-switch form-switch-sm mb-4">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="consent"
                      name="consent"
                      required
                    />
                    <label for="consent" class="form-check-label">
                      I agree to the privacy policy for support purposes.
                    </label>
                  </div>
                  <!-- Submit Button -->
                  <div class="text-center help">
                    <button type="submit" class="btn btn-primary px-5 mt-4">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- End Contact Form -->
        </div>
      </div>
    </section>
    <!-- Card Item -->

    {% include 'includes/footer.html' %}

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
