{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>GDOP</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/miii_logo.jpg' %}" rel="icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->

    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
  </head>

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center sticky-top" style="background-color: #e0a355;">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a href="/" class="logo d-flex align-items-center me-auto">
          <img src="{% static 'assets/img/mint_logo.png' %}" alt="" />
        </a>

        {% include 'includes/nav.html' %}
    </header>

    <main class="main">
      <!-- Hero Section -->
      <section id="hero" class="hero section">
        <img
          src="{% static 'assets/img/b.jpg' %}"
          alt=""
          data-aos="fade-in"
          class=""
        />

        <div class="container">
          <div class="row justify-content-center" data-aos="zoom-out">
            <div class="col-xl-8 col-lg-9 text-center">
              <h2 style="font-weight: bold;" id="hero-title">
                Government Digital Office Platforms Portal (GDOP)
              </h2>
              <p class="pt-2" id="hero-description">
                A paperless back office system automation.
                <p>
                Modern Office | Automated Process | Digital Services</p>
              </p>
            </div>
          </div>
          <div
            class="text-center pt-4 pb-5"
            data-aos="zoom-out"
            data-aos-delay="100"
          >
            <a href="#about" class="btn-get-started" id="hero-btn"
              >{{ hero_section.button_text }}</a
            >
          </div>

          <div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 12px">
            {% for project in projects %}
            <div
              class="card glass"
              data-aos="zoom-out"
              data-aos-delay="100"
            >
              <div class="card-body text-center">
                <div class="icon text-primary"><i class="bi {{ project.icon_name }}" style="font-size: 1.5rem"></i></div>
                <p style="font-size: 1rem; font-weight: bold">
                  {{ project.title }}
                </p>
                <p style="font-size: .8rem; color: grey" id="visitors-description">
                  {{ project.subtitle }}
                </p>
                {% if project.is_active %}
                <a href="{{project.redirect_url}}" target="_blank"><button type="button" class="btn btn-link" style="text-decoration: none; mt: 2">Learn More</button></a>
                {% else %}
                <p>Coming Soon</p>
                {% endif %}
              </div>
            </div>
            {% endfor %}
            </div>
            <!-- End Icon Box -->
          </div>
        </div>
      </section>
      <!-- /Hero Section -->

      <!-- Services Section -->
      <section
        id="services"
        class="services section light-background"
        style="margin-top: 100px"
      >
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Latest Announcements</h2>
          <p>
            Stay informed with the latest project updates, system maintenance
            schedules, and other important announcements.
          </p>
        </div>
        <!-- End Section Title -->

        <div class="container">
          <div class="row gy-4">
            {% for item in announcements %}
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="service-item item-red position-relative">
                <div class="icon">
                  <svg
                    width="100"
                    height="100"
                    viewBox="0 0 600 600"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke="none"
                      stroke-width="0"
                      fill="#f5f5f5"
                      d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"
                    ></path>
                  </svg>
                  <i class="bi {{ item.icon_name }}"></i>
                </div>
                  <h3>{{item.title}}</h3>
                <span class="updates_cart"
                  >{{item.sub_title}}</span
                >
                <p style="display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; overflow: hidden;">
                  {{item.description}}
                </p>
                <a href="announcement/{{item.id}}" class="stretched-link"></a>
              </div>
            </div>
            {% endfor %}
            <!-- End Service Item -->
          </div>
        </div>
      </section>
      <!-- /Services Section -->


      <section
      id="resources"
      class="resources resources-slider section light-background"
      style="margin-top: 100px"
    >
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resource Center</h2>
        <p>Access important documents and forms instantly.</p>
      </div>
      <!-- End Section Title -->

      <div class="container">
        <div class="swiper">
          <div class="swiper-wrapper">
            <!-- Card Items -->
            {% for resource in resources %}
            <div class="swiper-slide">
              <div class="service-item position-relative">
                <div class="icon" id="resouce-icon">
                  <i class="bi bi-file-earmark-text"></i>
                </div>
                <h3>{{ resource.title }}</h3>
                <span class="updates_cart fw-normal fst-italic">
                  {{ resource.description }}
                </span>
                <div class="btn-group-resource mt-5" role="group">
                  <a href="{% url 'resource_download' resource.id %}" class="btn btn-primary btn-sm me-2">
                    <i class="bi bi-cloud-arrow-down-fill"></i> Download
                  </a>
                  <a href="{% url 'resource_download' resource.id %}" class="btn btn-secondary btn-sm">
                    <i class="bi bi-eye-fill"></i> Preview
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}

            <!-- End of swiper -->
          </div>
          <!-- Swiper Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Swiper Navigation -->
        </div>
      </div>
    </section>
    <!-- /Downloadable Section -->


<!-- FAQ Section -->
      <section id="faq" class="faq section light-background">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Frequently Asked Questions</h2>
          <p>
            This FAQ section addresses common questions to assist you in using
            the platform smoothly and effectively. Contact
            <b><a href="contact">IT support</a> </b> for additional help if
            needed.
          </p>
        </div>
        <!-- End Section Title -->

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">
              <div class="faq-container p-3 mb-2">
                {% for item in faqs %}
                <div class="faq-item">
                  <h3>{{ item.question }}</h3>
                  <div class="faq-content">
                    <p>
                      {{ item.answer }}
                    </p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div>
                {% endfor %}
                <!-- End Faq item-->
              </div>
            </div>
            <!-- End Faq Column-->
          </div>
        </div>
      </section>
      <!-- /Faq Section -->
    </main>

    {% include 'includes/footer.html' %}

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
