{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>GDOP</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/miii_logo.jpg' %}" rel="icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->

    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
  </head>

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center sticky-top">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a href="/" class="logo d-flex align-items-center me-auto">
          <img src="{% static 'assets/img/mint_logo.png' %}" alt="" />
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li>
              <a href="/" id="nav-home">Home<br /></a>
            </li>
            <li><a href="news" id="nav-news" class="active">News</a></li>
            <li class="dropdown">
              <a
                ><span id="nav-about-us">About Us</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i
              ></a>
              <ul>
                <li><a href="about">GDOP</a></li>
                <li>
                  <a href="vision-mission-values">Vision, Mission & Values</a>
                </li>
                <li>
                  <a href="organizational-structure"
                    >Organizational Structure</a
                  >
                </li>
                <li><a href="power-duties">Power & Duties</a></li>
              </ul>
            </li>
            <li><a href="/#faq" id="nav-contact-us">FAQ</a></li>
            <!-- <li><select
              id="language-selector"
              class="ms-4"
            >
              <option value="en">English</option>
              <option value="am">አማርኛ</option>
            </select></li> -->

            <li>
              <a href="request-support" id="nav-contact-uss" class=""
                >Request Support</a
              >
            </li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </header>

    <section id="about-alt" class="about-alt section">
      <div class="container">
        <div class="row gy-4">
          <div
            class="col-lg-6 position-relative align-self-start"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/uMzUQZM2e0k?si=eiT2wfQBPGxnb8Oa"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <h3>
              የኢኖቬሽንና ቴክኖሎጂ ሚኒስቴር በኮምቦልቻ ከተማ የገነባቸውን የአቅመደካማ ቤቶች አጠናቆ አስረከበ።
            </h3>
            <p>
              የኢኖቬሽንና ቴክኖሎጂ ሚኒስቴር እና ተጠሪ ተቋማት በተለያዩ ክልሎች ከሚያደርገው የችግኝ ተከላና የአቅመ
              ደካማ ቤቶች እድሳት መርሃ ግብር ውስጥ በኮምቦልቻ ከተማ በአዲስ መልክ የገነባቸውን 7 የመኖሪያ ቤትች
              በማጠናቀቅ የከተማው ከፍተኛ አመራሮችና ባለድርሻ አካላት በተገኙበት ለአቅመደካሞች ቁልፍ አስረከቡ።
            </p>
            <p>
              የኢኖቬሽንና ቴክኖሎጂ ሚኒስትር ዶ/ር በለጠ ሞላ የሀገራችንን የኢኮኖሚ እድገት ለማጎልበት በምናደርገው
              ርብርብ ውስጥ የአቅመ ደካሞችን ህይወት የኑሮ ሁኔታ ሊደግፉ በሚችሉ ዘርፎች ላይ ትኩረት ተሰጥቶ መሰራት
              እንዳለበት ገልፀዋል።
            </p>
            <p>
              የተሰሩት የአቅመ ደካሞች ቤቶችን ሰርተን ስናስረክብ ቀጣይ ሌሎች ከዚህ በላይ መስራት እንዳለብን አቅም
              ከመሆን ባሻገር ሌሎች ተቋማትና ባለሀብቶች እንዲህ ባሉ ዘርፍ ላይ የድርሻቸውን እንዲወጡ መነሻ ሊሆኑ
              እንደሚችሉ አስገንዝበዋል።
            </p>
            <p>
              የስራችን ውጤት የሚለካው ለዜጎቻችን ባደረግነው ተጨባጭ ውጤት ነው ያሉት ክቡር ሚኒስትሩ በክረምት
              ካከናወናቸው መርሀ ግብር ውስጥ የተጀመሩ የአቅመ ደካማ የቤቶች ግንባታ ስራዎች በዚህ መልኩ ተጠናቀው
              ውጤት ላይ ደርሰው ስናያቸው በሁላችንም ዘንድ ከፍተኛ እርካታን ይፈጥራሉ ብለዋል።
            </p>
            <p>
              የኮምቦልቻ ከተማ ከንቲባ ክቡር መሀመድ አሚን በአለም ላይ ብዙ ሀገሮች ጂዲፒያቸውን የሚያገኙት
              ከከተሞቻቸው ሲሆን ይህንን ውጤት ለማምጣት በሀገራችን በማደግ ላይ ያሉ የከተሞቻችንን ውስብስብ ችግሮች
              ለመፍታትና ደረጃቸውን ለማሳደግ ሁሉን ባሳተፈ መልኩ መሰራት እንዳለበት ገልፀዋል። መንግስት ከተሞችን
              ለማሳደግ ከፍተኛ ትኩረት ሰጥቶ አየሰራበት ያለውን እቅድ ለማሳካት አሮጌ ቤቶችን እና ሌሎች ሰው ተኮር
              በሆኑ ልማቶች ላይ ከተለያዩ አካላት ጋር በትብብር እየሰራን እንገኛለን ብለዋል።
            </p>
            <p>
              በክረምት መረሀ ግብር በተለያዩ ክልሎች እየተከናወኑ ያሉ የችግኝ ተከላ፣ መማር ላልቻሉ ተማሪዎች የቁሳቁስ
              ድጋፍ፣ የአቅመ ደካሞች ቤቶች እድሳትና በአዲስ መልክ ሰርቶ ከማስረከብ ባለፈ ከተሞችን በዲጂታል ለማዘመን
              የሚደረጉ ስራዎች ተጠናክረው እንደሚቀጥሉ ተጠቁሟል። በዚሁም መሠረት የኮምቦልቻ ከተማ፣ የኢትዮጵያ ስፔስ
              ሳይንስና ጂኦስፓሻል ተቋም፣ የወሎ ዩኒቨርሲቲ ቴክኖሎጂ ኮሌጅ የኮምቦልቻ ከተማን የዲጂታል አድራሻ ስርአት
              ለማልማት የሶስትዮሽ ስምምነት የፊርማ ስነስርአትም የተካሄደ ሲሆን በጂአይኤስ እንዲሁም በማዳበሪያ
              አዘገጃጀት ስልጠና ለወሰዱ ወጣቶች የሰርተፊኬት ሽልማት ተሰጥቷል።
            </p>
          </div>
        </div>
      </div>
    </section>

    {% include 'includes/footer.html' %}

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
