{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>GDOP</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/miii_logo.jpg' %}" rel="icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->

    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
  </head>

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center sticky-top">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a href="#" class="logo d-flex align-items-center me-auto">
          <img src="{% static 'assets/img/mint_logo.png' %}" alt="" />
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li>
              <a href="/" id="nav-home">Home<br /></a>
            </li>
            <li><a href="news" id="nav-news">News</a></li>
            <li class="dropdown">
              <a
                ><span id="nav-about-us">About Us</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i
              ></a>
              <ul>
                <li><a href="about">GDOP</a></li>
                <li>
                  <a href="vision-mission-values">Vision, Mission & Values</a>
                </li>
                <li>
                  <a href="organizational-structure"
                    >Organizational Structure</a
                  >
                </li>
                <li><a href="power-duties">Power & Duties</a></li>
              </ul>
            </li>
            <li><a href="contact" id="nav-contact-us">Contact Us</a></li>
            <li><a href="/" id="nav-contact-us">FAQ</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <div style="margin-left: 150px">
          <select
            id="language-selector"
            class="btn btn-sm btn-light border border-success"
          >
            <option value="en">English</option>
            <option value="am">አማርኛ</option>
          </select>
        </div>
      </div>
    </header>

    <section id="about-alt" class="about-alt section">
      <div class="container">
        <div class="row col-lg-11 justify-content-center">
          <h4>
            <b>
              The Ministry of Innovation and Technology shall have the following
              powers and duties:</b
            >
          </h4>
          <div style="font-size: 15px; margin-top: 20px; text-align: justify">
            <p>
              1. The Ministry of Innovation and Technology shall have the
              following powers and duties:
            </p>
            <p>
              a) initiate policies, strategies, laws and programs that
              sustainably ensure the development and competitiveness bio and
              emerging technology, geospatial, space, technology and digital
              economic development; prepare a detail program that is compatible
              with the country’s overall development plan and implement the same
              upon approval.
            </p>
            <p>
              b) initiate policy, in collaboration with the concerned organs,
              for the enhancement of technology and innovation use culture;
              ensure, in collaboration with the concerned organs, the country’s
              educational curricula are designed in tune with innovation and
              technology development.
            </p>
            <p>
              c) prepare and implement national innovation and technology
              research and development policies, strategies and programs;
              identify new innovation and technology studies and research areas
              pertinent to the national development; coordinate national
              research programs.
            </p>
            <p>
              d) establish a system that enhance the participation and role of
              the private sector in the development of innovation and technology
              sector; create conducive condition for implementation of the same;
              establish and implement a system for the grant of awards and
              incentives to individuals and institutions contributing to the
              advancement of innovation and technological development works.
            </p>
            <p>
              e) set, in collaboration with concerned organs, standards to
              ensure the provision of quality, reliablity and security of
              information communication technology services; monitor the
              implementation of the same.
            </p>
            <p>
              f) Support capacity building of institutions and professionals
              involved in innovation and technology activities; support and
              encourage professional associations and research and study
              institutions.
            </p>
            <p>
              g) establish, in collaboration with the concerned organs, a system
              to identify technology demand, explore appropriate technologies
              and implement the same; follow up the implementation of the same.
            </p>
            <p>
              h) Support studies, researches and their dissemination, for the
              improvement, development and marketing of indigenous technologies;
              provide necessary support for practical application of such works;
              cause them accessible to stakeholders and the community in the
              form of prototype; encourage and support individuals, professional
              associations, study and research institutions that will make
              significant contribution for the development of innovations and
              technologies.
            </p>

            <p>
              i) Register information about technologies from different fields;
              coordinate works for their compilation and preservation; cause
              them to be used for future works.
            </p>

            <p>
              j) Design programs that enable the expansion of innovation and
              technology in particular digital infrastructures; ensure for
              critical systems and services in public sector are supported by
              appropriate technology and positioned to better provide services
              to the public; in general, works and provide support public
              services be supported by technology and efficient.
            </p>

            <p>
              k) Organize innovation and technology database, compile
              information, set national standards for information management.
            </p>

            <p>
              l) In collaboration with relevant bodies, support the development,
              and coordination of information systems; provide support for the
              deployment secured information network within federal and regional
              government institutions.
            </p>

            <p>
              m) Provide support for the promotion of domestic innovation skills
              through establishing internationally standardized laboratories,
              workshops and information communication technology parks for
              selected innovation and technology research works; facilitate for
              the establishment of start-up fund for the same.
            </p>

            <p>
              n) Follow up the implementation of the system regulating the
              utilization and disposal of radiation and radiation producing
              items.
            </p>

            <p>
              o) Provide professional and technical support to regional
              innovation and technology institutions; identify and cause common
              understanding on innovation and technology development activities
              to be undertaken by the regions: follow implementation of the
              same.
            </p>

            <p>
              p) Follow up the effectiveness of the transformation of innovative
              ideas into values role for national prosperity by supporting
              creativity and innovation.
            </p>

            <p>
              2) The powers and duties entrusted to the Ministry of Innovation
              and Technology under other laws that are currently in force are
              hereby vested in the Ministry of Innovation and Technology
              established by this Proclamation.
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer" class="footer light-background">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-6 col-md-12 footer-about">
            <a href="#" class="logo d-flex align-items-center me-auto">
              <img src="{% static 'assets/img/mint_logo.png' %}" alt="" />
            </a>
            <p style="text-align: justify" id="footer-about">
              The government merged the former Ministry of Science and
              Technology and the Ministry of Communication and Information
              Technology to form the Ministry of Innovation and Technology in
              2019.
            </p>
            <div class="social-links d-flex mt-4">
              <a
                href="https://x.com/MinistryofInno2?t=dp1BQ2X1kt9Ec0CcRe8jWg&s=09"
                ><i class="bi bi-twitter-x"></i
              ></a>
              <a href="https://web.facebook.com/MInT.Ethiopia?_rdc=1&_rdr#"
                ><i class="bi bi-facebook"></i
              ></a>
              <a
                href="https://www.linkedin.com/company/ministry-of-innovation-and-technology-ethiopia/"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a href="https://www.youtube.com/@MinistryofInnovationandTechnol"
                ><i class="bi bi-youtube"></i
              ></a>
            </div>
          </div>

          <div class="col-lg-2 col-5 footer-links">
            <h4 id="useful-links">Useful Links</h4>
            <ul>
              <li><a href="/" id="footer-link-home">Home</a></li>
              <li><a href="news" id="footer-link-news">News</a></li>
              <li><a href="about" id="footer-link-about-us">About Us</a></li>
              <li>
                <a href="contact" id="footer-link-contact-us">Contact Us</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-5 footer-links">
            <h4 id="useful-links">Focus Areas</h4>
            <ul>
              <li><a href="#" id="footer-link-home">Research</a></li>
              <li><a href="#" id="footer-link-news">Innovation</a></li>
              <li>
                <a href="#" id="footer-link-about-us">Technology Transfer</a>
              </li>
              <li>
                <a href="#" id="footer-link-contact-us">Digitalization</a>
              </li>
            </ul>
          </div>

          <div
            class="col-lg-2 col-md-12 footer-contact text-center text-md-start"
          >
            <h4 id="footer-contact">Contact Us</h4>
            <p id="footer-contact-address">Lisie G/Mariam Street</p>
            <p id="footer-contact-address-1">Arada Sub-City, Addis Ababa</p>
            <p id="footer-contact-address-2">Ethiopia</p>
            <p class="mt-4" id="footer-phone">
              <strong>Phone:</strong> <span>+251 118 132 191</span>
            </p>
            <p id="footer-email">
              <strong>Email:</strong> <span>info@example.com</span>
            </p>
          </div>
        </div>
      </div>

      <p class="text-center mt-5" id="copyright">
        Copyright ©2024 Ministry of Innovation and Technology. All Rights
        Reserved.
      </p>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
