{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>GDOP</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/miii_logo.jpg' %}" rel="icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->

    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
  </head>

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center sticky-top">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a href="/" class="logo d-flex align-items-center me-auto">
          <img src="{% static 'assets/img/mint_logo.png' %}" alt="" />
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li>
              <a href="/" id="nav-home">Home<br /></a>
            </li>
            <li><a href="news" id="nav-news">News</a></li>
            <li class="dropdown">
              <a
                ><span id="nav-about-us" class="active">About Us</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i
              ></a>
              <ul>
                <li><a href="about">GDOP</a></li>
                <li>
                  <a href="vision-mission-values">Vision, Mission & Values</a>
                </li>
                <li>
                  <a href="organizational-structure"
                    >Organizational Structure</a
                  >
                </li>
                <li><a href="power-duties">Power & Duties</a></li>
              </ul>
            </li>
            <li><a href="/#faq" id="nav-contact-us">FAQ</a></li>
            <!-- <li><select
              id="language-selector"
              class="ms-4"
            >
              <option value="en">English</option>
              <option value="am">አማርኛ</option>
            </select></li> -->

            <li>
              <a href="request-support" id="nav-contact-uss" class=""
                >Request Support</a
              >
            </li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row col-lg-12 justify-content-center">
          <img
            src="{% static 'assets/img/structure.png' %}"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </section>

    <footer id="footer" class="footer light-background">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-6 col-md-12 footer-about">
            <a href="#" class="logo d-flex align-items-center me-auto">
              <img src="{% static 'assets/img/mint_logo.png' %}" alt="" />
            </a>
            <p style="text-align: justify" id="footer-about">
              The government merged the former Ministry of Science and
              Technology and the Ministry of Communication and Information
              Technology to form the Ministry of Innovation and Technology in
              2019.
            </p>
            <div class="social-links d-flex mt-4">
              <a
                href="https://x.com/MinistryofInno2?t=dp1BQ2X1kt9Ec0CcRe8jWg&s=09"
                ><i class="bi bi-twitter-x"></i
              ></a>
              <a href="https://web.facebook.com/MInT.Ethiopia?_rdc=1&_rdr#"
                ><i class="bi bi-facebook"></i
              ></a>
              <a
                href="https://www.linkedin.com/company/ministry-of-innovation-and-technology-ethiopia/"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a href="https://www.youtube.com/@MinistryofInnovationandTechnol"
                ><i class="bi bi-youtube"></i
              ></a>
            </div>
          </div>

          <div class="col-lg-2 col-5 footer-links">
            <h4 id="useful-links">Useful Links</h4>
            <ul>
              <li><a href="/" id="footer-link-home">Home</a></li>
              <li><a href="news" id="footer-link-news">News</a></li>
              <li><a href="about" id="footer-link-about-us">About Us</a></li>
              <li>
                <a href="contact" id="footer-link-contact-us">Contact Us</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-5 footer-links">
            <h4 id="useful-links">Focus Areas</h4>
            <ul>
              <li><a href="#" id="footer-link-home">Research</a></li>
              <li><a href="#" id="footer-link-news">Innovation</a></li>
              <li>
                <a href="#" id="footer-link-about-us">Technology Transfer</a>
              </li>
              <li>
                <a href="#" id="footer-link-contact-us">Digitalization</a>
              </li>
            </ul>
          </div>

          <div
            class="col-lg-2 col-md-12 footer-contact text-center text-md-start"
          >
            <h4 id="footer-contact">Contact Us</h4>
            <p id="footer-contact-address">Lisie G/Mariam Street</p>
            <p id="footer-contact-address-1">Arada Sub-City, Addis Ababa</p>
            <p id="footer-contact-address-2">Ethiopia</p>
            <p class="mt-4" id="footer-phone">
              <strong>Phone:</strong> <span>+251 118 132 191</span>
            </p>
            <p id="footer-email">
              <strong>Email:</strong> <span>info@example.com</span>
            </p>
          </div>
        </div>
      </div>

      <p class="text-center mt-5" id="copyright">
        Copyright ©2024 Ministry of Innovation and Technology. All Rights
        Reserved.
      </p>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
