{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>GDOP</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/miii_logo.jpg' %}" rel="icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />

    <!-- Vendor CSS Files -->

    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
</head>

<body class="index-page">
    <header id="header" class="header d-flex align-items-center sticky-top" style="background-color: #eaf2f1;">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
            <a href="/" class="logo d-flex align-items-center me-auto">
                <img src="{% static 'assets/img/mint_logo.png' %}" alt="" />
            </a>

            {% include 'includes/nav.html' %}
    </header>

    <main class="main">

        <!-- Team Section -->
        <section id="team" class="team section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Meet Our Team</h2>
                <p>Meet our team members dedicated to the successful implementation of the GDOP project.</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    {% for member in team_members %}
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="team-member">
                            <div class="member-img">
                                {% if member.image %}
                                <img src="{{member.image.url}}" class="img-fluid" alt="">
                                {% else %}
                                <img src="{% static 'assets/img/no-pp.jpg' %}" class="img-fluid" alt="">
                                {% endif %}
                                <div class="social">
                                    {% if member.twitter_link %}
                                    <a href="{{member.twitter_link}}"><i class="bi bi-twitter-x"></i></a>
                                    {% endif %}
                                    {% if member.facebook_link %}
                                    <a href="{{member.facebook_link}}"><i class="bi bi-facebook"></i></a>
                                    {% endif %}
                                    {% if member.instagram_link %}
                                    <a href="{{member.instagram_link}}"><i class="bi bi-instagram"></i></a>
                                    {% endif %}
                                    {% if member.linkedin_link %}
                                    <a href="{{member.linkedin_link}}"><i class="bi bi-linkedin"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>{{member.name}}</h4>
                                <p>{{member.role}}</p>
                                <div class="card-text-team">
                                    <span><i class="bi bi-person-circle icon me-2"></i>{{member.project}}</span>
                                    <span><i class="bi bi-envelope-fill icon me-2"></i>{{member.email}}</span>
                                    <span><i class="bi bi-telephone-fill icon me-2"></i>{{member.phone}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </section><!-- /Team Section -->


    </main>

    {% include 'includes/footer.html' %}

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>
