{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>GDOP</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/miii_logo.jpg' %}" rel="icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->

    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
  </head>

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center sticky-top">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a href="/" class="logo d-flex align-items-center me-auto">
          <img src="{% static 'assets/img/mint_logo.png' %}" alt="" />
        </a>

        {% include 'includes/nav.html' %}
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h3 style="text-align: center"><b>Vision </b></h3>
            <p style="text-align: justify; font-size: 15px">
              Build a country that is conducive for job and wealth creation
              through technology and innovation.
            </p>
          </div>
          <div class="col-lg-3 core_space">
            <h3 style="text-align: center"><b>Mission</b></h3>
            <ul>
              <li>
                The Miss ion also to ensure the sustainability of the country’s
                development by creating an environment in which innovation
                systems are implemented.
              </li>
              <li>
                Creating an environment for the digital economy of the country.
              </li>
              <li>
                Building the capacity to increase the competitiveness of the
                country's technology industry development.
              </li>
            </ul>
          </div>
          <div class="col-lg-3 core_space">
            <h3 style="text-align: center"><b>Our values</b></h3>
            <ul>
              <li>Decent conscience and good heart</li>
              <li>An limitless thirst for learning</li>
              <li>Love of work and dedication</li>
              <li>Unlimited thought and imagination</li>
              <li>A foundation for generations</li>
            </ul>
          </div>
          <div class="col-lg-3 core_space">
            <h3 style="text-align: center"><b>Organizational Philosophy</b></h3>
            <ul>
              <li>Knowledge is wealth</li>
              <li>We acknowledge new ideas</li>
              <li>Diligence is the power of positive change</li>
              <li>
                Technology and innovation is the language of the new generation
              </li>
              <li>Encouraging innovation for the next generation</li>
              <li>Modern digital economy is the basis of our development</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    {% include 'includes/footer.html' %}

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
